<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://www.caritas-jura.ch/homepage">Caritas Jura</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('offers') }}">Voir les annonces</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('description') }}">Chéque-Emploi</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('conditions') }}">Condition générales d'utilisation</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
            </li>
        </ul>
    </div>
</nav>