<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://www.caritas-jura.ch/homepage">Caritas Jura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto d-flex align-content-between">
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('offers') }}">Voir les annonces</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link" href="{{ path('admin') }}">Administration</a>
            </li>
            </li>
            <li class="nav-item px-4 align-self-center">
                <a href="{{ path('logout') }}" class="fas fa-power-off"></a>
            </li>
        </ul>
    </div>
</nav>