{% extends '@EasyAdmin/default/show.html.twig' %}

{% block content_title %}
    {% spaceless %}
        Détails du profil : {{ entity }}
    {% endspaceless %}
{% endblock %}
{% block main %}
    {{  parent() }}
    {% block jobOffers %}
        <h3>Annonces modérées</h3>
        <ul class="list-group">
        {% for jobOffer in entity.jobOffers %}
            {% if jobOffer.closing == 'admin' %}
                    <li class="list-group-item"><a href="{{ path('admin', {'action': 'show', 'id': jobOffer.id, 'entity': 'JobOffer'}) }}">{{ jobOffer.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}