@import "~bootstrap/dist/css/bootstrap.css";
@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.css";

footer, footer a
{
    background-color: #cc0000;
    color: white;
}

footer a:hover
{
    color: white;
}

#listOffers
{
    margin-top: 10px;
}

.card
{
    margin-bottom: 10px;
}

.fa-info
{
    color: dodgerblue;
}

.fa-check
{
    color: green;
}

.fa-times
{
    color: red;
}

.fa-hourglass-half
{
    color: #fff60a;
}

.fa-edit
{
    color: #ff6a09;
}

.fa-power-off
{
    color: #bd2130;
}

.card-img-top
{
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.tableWarning
{
    background-color: #ffc299;
}

.form-control, .card, hr, .list-group-item, .select2-container--bootstrap4 .select2-selection--single
{
    border-color: red;
}

.form-control:focus
{
    border-color: red;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.4);
}

.input-group-text
{
    background-color: #ff6666;
    color: black;
}

.table thead th
{
    border-top-color: red;
    border-bottom-color: red;
}

.btn-primary, .badge-info, .modal-header
{
    background-color: #009900;
}

.badge-pill
{
    padding: 4px;
    border-radius: 10px;
}

.modal-header
{
    color: white;
}

#tableListOffers td
{
    border-top-color: red;
}

.infoState
{
    font-size: 13px;
}

.btnIndex
{
    width: 300px;
    height: 100px;
    vertical-align: middle;
    font-size: 20px;
}

.display-4
{
    font-size: 35px;
    font-weight: 800;
}

.lead
{
    font-size: 1.5rem;
}

.navbar
{
    background-color: #cc0000 !important;
}

.nav-link, .navbar-brand, .fa-power-off
{
    color: white !important;
}

.nav-item:hover {
    background-color: darkgray;
    transition: background-color .2s;
}