{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    Statistiques
{% endblock %}
{% block main %}
    <div class="container">
        Dans un futur plus ou moins proche, vous pourrez trouvez les statistiques de Boulots-Réglos !
    </div>
{% endblock %}