<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Boulots Réglos
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <link rel="icon" href="{{ asset('build/images/logo.png') }}" type="image/png">
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block menu %}
            {% if not is_granted('ROLE_ADMIN') %}
                {% if app.user is not null %}
                    {%  include 'utils/menu/menuConnected.html.twig' %}
                {% else %}
                    {%  include 'utils/menu/menuDefault.html.twig' %}
                {% endif %}
            {% else %}
                {% include 'utils/menu/menuAdmin.html.twig' %}
            {% endif %}
        {% endblock %}
        <div class="content mt-3">
            {% block content %}
                {% if not is_granted('ROLE_ADMIN') %}
                    {% if app.user is not null %}
                        {% if not app.user.isActive %}
                            <div class="alert alert-warning">
                                Votre compte n'a pas encore été activé. Vous n'aurez pas accès à toutes les fonctionnalités
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning w-50 float-right text-center">{{ message }}</div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
    </body>
</html>