{% extends 'base.html.twig' %}

{% block content %}
    {% block title %}
        {% include 'utils/title.html.twig' %}
    {% endblock %}
    {% if 'cloturer' in app.request.server.get('HTTP_REFERER') %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p class="text-justify mt-3">Facile et accessible, Chèque Emploi s’occupe de gérer <b>le salaire</b> et <b>les questions administratives</b> qui concernent
        des travaux de proximité entre particuliers : femme de ménage, employé de jardinage, garde d’enfants ou auxiliaire
        de vie.</p>
    <p class="text-justify">Cela facilite l’affiliation aux assurances sociales des petits revenus, qui, sans cette possibilité,
        resteraient peut-être dans le cercle du travail au noir. Les personnes concernées acquièrent ainsi notamment un
        droit à des <b>allocations familiales</b>, aux <b>indemnités journalières</b> en cas d’accident ou encore à des <b>prestations AVS</b> améliorées.</p>
    <p class="text-justify">Selon la version choisie, l’employeur peut choisir de verser ou pas directement le salaire net à l’employé, alors que
        Chèque Emploi règle les assurances sociales. Il faut compter 5% pour les charges administratives.
        Désormais, le décompte d’heures mensuel peut être envoyé d’un <b>seul clic en ligne</b>, facilitant encore les démarches.
        Zéro paperasse pour l’employeur et l’employé qui sont ainsi toujours plus allégés des tracas administratifs.</p>
    <p class="text-justify">Le système de gestion administrative facilitée est mis en place dans le Jura depuis 2007 et depuis 2013 dans le Jura bernois.
        Près de <b>800 employeurs</b> ont fait le pas de régulariser la situation de leur employé à travers le système Chèque Emploi.</p>

    <p>
        <a href="https://www.cheque-emploi-jura.ch/calculateur-salaire" target="_blank">
            <i class="text-danger">Un calculateur de salaire en ligne vous permet de calculer instantanément le salaire et les charges effectives.</i>
        </a>
    </p>
    <p>
        <a href="https://www.caritas-jura.ch/prestations/cheque-emploi" target="_blank">
            <i class="text-danger">Vous trouverez plus d'informations au sujet de Chèque-Emploi sur le site de Caritas Jura<i class="text-danger">
        </a>
    </p>
{% endblock %}