{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(connectionForm) }}
    {{ form_widget(connectionForm) }}
    {{ form_end(connectionForm) }}

    {% include 'utils/newCredentials.html.twig' %}

    <a href="#" data-toggle="modal" data-target="#credentialsForgotten">Identifiants oubliés ?</a>
    <a href="{{ path('registration') }}">Pas encore inscrit ?</a>
{% endblock %}