{% extends 'base.html.twig' %}

{% block content %}
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed odio maximus eros pharetra rutrum nec
        ac neque. Nulla porta ligula urna, non imperdiet turpis commodo convallis. Fusce dignissim luctus dolor, sed imperdiet augue lobortis vel. Etiam lacus ante, sagittis vitae mi a, aliquam finibus elit.
        Phasellus vel sodales tellus, quis hendrerit leo. Quisque suscipit vehicula laoreet. Vivamus libero purus, malesuada vitae lacinia id, lacinia in mauris. Nunc eleifend rutrum felis vitae consequat.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sodales ultricies ligula sit amet placerat. Pellentesque viverra sapien ac tincidunt consectetur.
        Aenean fringilla vel mauris at vulputate. Maecenas ut ex tincidunt, commodo enim nec, varius augue. Phasellus euismod sagittis orci, non dictum elit malesuada interdum.
    </p>
    <p class="text-justify">
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        In volutpat lacus sed justo vulputate, et consectetur enim tincidunt. Duis odio sapien, ultricies at sodales nec, vulputate vel orci. Integer consectetur sagittis diam at dignissim.
        Vivamus sit amet risus tristique, malesuada est venenatis, finibus libero. Curabitur eu quam sagittis, condimentum lacus vel, laoreet ex.
    </p>
    <p class="text-justify">
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur fringilla congue blandit. Vestibulum semper diam erat, nec blandit lorem sodales nec.
        Phasellus dictum sed mauris pretium dignissim. Praesent lacinia id felis tristique ullamcorper. Quisque eu semper mi. Vestibulum imperdiet quis ligula id ullamcorper.
        Quisque consectetur ex erat, non venenatis dui suscipit a. Praesent venenatis erat vitae tortor feugiat ultrices.
    </p>
    <a href="https://www.caritas-jura.ch/prestations/cheque-emploi">Chèque-Emploi</a>
{% endblock %}