<div class="row mx-0">
    <div class="col-2">
        <img src="{{ asset('build/images/littleYellowMan.jpg') }}" alt="Bonhomme jaune qui sourit">
    </div>
    <div class="col-10">
        <h4>Boulots-réglos, une plate-forme qui met en lien les personnes qui cherchent et offrent des travaux de proximité</h4>
    </div>
</div>